/* Etiquetas globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* Etiquetas del header */
header {
  background-color: blueviolet;
}
.logo {
  display: inline-block;
  font-size: 2rem;
  margin: 10px;
}
.nav {
  display: inline-block;
  /* con esto logré ...*/
  position: absolute;
  right: 0;
  /*...que el menu quedase a la derecha */
  padding-top: 4px; /*para centrarlo verticalmentes*/
}
.nav li {
  font-size: 1.6rem;
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  padding: 0 20px;
}
/* Etiquetas del main */
p {
  font-size: 1.6rem;
}
.main {
  height: 500px;
  background-color: burlywood;
}
.anuncios {
  display: inline-block;
  background-color: blue;
  height: 100%;
  width: 20%;
  max-width: 170px;
  padding: 10px;
}
.info-principal {
  display: inline-block;
  position: absolute;
  padding: 10px;
}
.anun {
  display: block; /* Esto es para que queden apilados*/
  margin: 10px;
  padding: 5px;
  background-color: cyan;
  border-radius: 10px;
}
/* Etiquetas del footer */
footer {
  background-color: yellow;
  height: 30px;
  padding: 0px 10px 0px 10px;
}
.info {
  display: inline-block;
  position: absolute;
  padding-top: 7px; /*Esto es para centrarlo al medio verticalmente */
}
.rrss {
  display: inline-block;
  position: absolute; /*Con estas ...*/
  right: 10px; /*... 2 lineas las rrss quedan a la derecha */
  padding-top: 7px;
}