* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
  border: 2px black;
  display: inline-block;
}
.box1 {
  width: 50%;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
  height: 100px;
  background-color: red;
  margin: 0 auto;
}
.box2 {
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  border-style: solid;
  background-color: rgb(141, 136, 136);
  margin: 0 auto;
}